@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar {
  display: flex;
  justify-content: space-between; /* Align items to each end */
  align-items: center; /* Center items vertically */
  background-color: #333;
  padding: 10px;
}

.navList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Adjust as needed */
}

.navItem {
  list-style: none;
  margin-right: 20px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
}

.navItem.active {
  border-bottom: 3px solid #fff; /* You can change the color to your preference */
  padding-bottom: 7px;
}

.appTitle {
  font-weight: bold;
  color: #fff; /* Your desired text color */
}

.iconContainer {
  display: flex;
  gap: 10px;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
}

